/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin and padding
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: HelveticaNeue, sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeue.ttc");
}
.btn-primary {
  background: #6b40e3;
  border-radius: 4px;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.4rem 3.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-container {
  background-image: url("../images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header {
  position: absolute;
  top: 2.5rem;
  display: block;
  width: 100%;
  padding: 0 7rem;
}
header img {
  display: inline-block;
  margin-bottom: 2.6rem;
}
header .line {
  height: 1px;
  background: #1a1a1a;
}

.add {
  background: #1a1a1a;
  border-radius: 0.8rem;
  padding: 1.8rem 13.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-family: "HelveticaNeue";
}

.split-container {
  display: flex;
  min-height: 100vh;
}

.left-container {
  width: 57%;
  background: #f9f9f9;
  padding: 4.7rem 15rem 6.5rem 15rem;
}

.right-container {
  width: 43%;
  position: relative;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 1.2rem;
}
.page-title h2 {
  font-size: 2.4rem;
  color: #1a1a1a;
}
.page-title p {
  font-size: 2rem;
  color: #1a1a1a;
}

.back-arrow {
  position: absolute;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  left: 4.8rem;
  top: 4.8rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.flex-row {
  display: flex;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 16rem;
}

.hidden {
  display: none;
}

.form {
  padding-top: 7.7rem;
}

.first-row {
  display: flex;
  gap: 5.6rem;
  margin-bottom: 4.8rem;
}
.first-row > div {
  width: 50%;
}

.label-c {
  font-size: 1.6rem;
  color: #000000;
  font-weight: bold;
  pointer-events: none;
}

.text-input-c {
  width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 1.4rem 1.6rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.text-input-c:hover::-moz-placeholder, .text-input-c:focus::-moz-placeholder {
  color: #000000;
}

.text-input-c:hover:-ms-input-placeholder, .text-input-c:focus:-ms-input-placeholder {
  color: #000000;
}

.text-input-c:hover::placeholder,
.text-input-c:focus::placeholder {
  color: #000000;
}

.hint-c {
  font-size: 1.4rem;
  color: #2e2e2e;
}

.about {
  overflow: auto;
  outline: none;
  box-shadow: none;
  /*remove the resize handle on the bottom right*/
  resize: none;
  height: 10rem;
  padding: 1.3rem 1.6rem;
}

.file-upload {
  margin-bottom: 4.6rem;
}
.file-upload .file {
  display: none;
}
.file-upload .upload-btn {
  background: #0e80bf;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  margin-left: 1.9rem;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  position: relative;
}
.input-container .text-input-c:hover,
.input-container .text-input-c:focus {
  box-shadow: inset 0 0 0 1px #bcbcbc;
  color: #000000;
}

.input-container.successful .text-input-c:hover,
.input-container.successful .text-input-c:focus,
.input-container.danger .text-input-c:hover,
.input-container.danger .text-input-c:focus {
  box-shadow: none;
}

.successful {
  position: relative;
}
.successful input {
  border: 1px solid #98e37e;
}

.danger {
  position: relative;
}
.danger .label-c {
  color: #ef5050;
}
.danger input {
  border: 1px solid #ef5050;
}

.input-container.successful::after {
  content: url("../images/success.svg");
  position: absolute;
  top: 5rem;
  right: 1.4rem;
  pointer-events: none;
}

.input-container.danger::after {
  content: url("../images/danger.svg");
  position: absolute;
  top: 5rem;
  right: -3.2rem;
  pointer-events: none;
}

.btn-next {
  float: right;
}

.right-container::after {
  content: url(../images/weird-logo.svg);
  position: absolute;
  left: 7.8rem;
  bottom: 4.4rem;
}

.right-container {
  padding: 6.5rem 7.8rem;
}
.right-container .pre-fullname {
  margin-bottom: 2rem;
  gap: 2rem;
}
.right-container .pre-fullname > h3 {
  font-size: 3.4rem;
  color: #f93b1d;
}
.right-container .full-email {
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.right-container .full-email p {
  font-size: 1.8rem;
  color: #1a1a1a;
}
.right-container .full-phone {
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.4rem;
}
.right-container .full-phone p {
  font-size: 1.8rem;
  color: #1a1a1a;
}
.right-container .pre-about {
  font-size: 1.8rem;
  color: #f93b1d;
  margin-bottom: 1.5rem;
}
.right-container .pre-about-text {
  font-size: 1.6rem;
  color: #000;
  max-width: 43rem;
}
.right-container .pre-image {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: -40px;
  float: right;
}/*# sourceMappingURL=main.css.map */