// STYLING FOR BASE LAYOUT

.split-container {
	display: grid;
	grid-template-columns: 57% 43%;
	min-height: 100vh;
}

.left-container {
	// width: 57%;
	background: #f9f9f9;
	padding: 4.7rem 15rem 6.5rem 15rem;
}

.right-container {
	// width: 43%;
	position: relative;
	overflow: hidden;
}

.page-title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h2 {
		font-size: 2.4rem;
		color: #1a1a1a;
	}

	p {
		font-size: 2rem;
		color: #1a1a1a;
	}

	border-bottom: 1px solid #1a1a1a;
	padding-bottom: 1.2rem;
}

.back-arrow {
	position: absolute;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	left: 4.8rem;
	top: 4.8rem;
}

// SHORTHAND STYLES
.flex-column {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.flex-row {
	display: flex;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mb-16 {
	margin-bottom: 16rem;
}

.mb-12 {
	margin-bottom: 12rem;
}

.hidden {
	display: none;
}

// PERSONAL PAGE _ STYLES

.form {
	padding-top: 7.7rem;
}

.first-row {
	display: flex;
	gap: 5.6rem;

	& > div {
		width: 50%;
	}

	margin-bottom: 4.8rem;
}

.label-c {
	font-size: 1.6rem;
	color: #000000;
	font-weight: bold;
	pointer-events: none;
}

.text-input-c {
	width: 100%;
	border: 1px solid #bcbcbc;
	border-radius: 4px;
	padding: 1.4rem 1.6rem;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.6);
	outline: none;
}

// .text-input-c:hover,
// .text-input-c:focus {
// 	box-shadow: inset 0 0 0 1px #bcbcbc;
// 	color: #000000;
// }

.text-input-c:hover::placeholder,
.text-input-c:focus::placeholder {
	color: #000000;
}

.hint-c {
	font-size: 1.4rem;
	color: #2e2e2e;
}

.about {
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	/*remove the resize handle on the bottom right*/
	resize: none;

	height: 10rem;
	padding: 1.3rem 1.6rem;
}

.file-upload {
	margin-bottom: 4.6rem;

	.file {
		display: none;
	}

	.upload-btn {
		background: #0e80bf;
		border-radius: 4px;
		padding: 0.5rem 2rem;
		margin-left: 1.9rem;
		font-size: 1.4rem;
		color: #fff;
		cursor: pointer;
	}
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	width: 100%;
	position: relative;

	.text-input-c:hover,
	.text-input-c:focus {
		box-shadow: inset 0 0 0 1px #bcbcbc;
		color: #000000;
	}
}

.input-container.successful,
.input-container.danger {
	.text-input-c:hover,
	.text-input-c:focus {
		box-shadow: none;
	}
}

.successful {
	position: relative;

	input {
		border: 1px solid #98e37e;
	}
}

.danger {
	position: relative;

	.label-c {
		color: #ef5050;
	}

	input {
		border: 1px solid #ef5050;
	}
}

.input-container.successful::after {
	content: url("../images/success.svg");
	position: absolute;
	top: 5rem;
	right: 1.4rem;
	pointer-events: none;
}

.input-container.danger::after {
	content: url("../images/danger.svg");
	position: absolute;
	top: 5rem;
	right: -3.2rem;
	pointer-events: none;
}

// .successful:hover,
// .successful:active {
// 	input {
// 		box-shadow: inset 0 0 0 1px #98e37e;
// 	}
// }

// .danger:hover,
// .danger:active {
// 	input {
// 		box-shadow: inset 0 0 0 1px #ef5050;
// 	}
// }

.btn-next {
	float: right;
}

// RIGHT CONTAINER

.right-container::after {
	content: url(../images/weird-logo.svg);
	position: absolute;
	left: 7.8rem;
	bottom: 4.4rem;
}

.right-container {
	padding: 6.5rem 7.8rem;

	.pre-fullname {
		& > h3 {
			font-size: 3.4rem;
			color: #f93b1d;
		}

		margin-bottom: 2rem;
		gap: 2rem;
	}

	.full-email {
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem;

		p {
			font-size: 1.8rem;
			color: #1a1a1a;
		}
	}

	.full-phone {
		align-items: center;
		gap: 1rem;
		margin-bottom: 3.4rem;

		p {
			font-size: 1.8rem;
			color: #1a1a1a;
		}
	}

	.pre-about {
		font-size: 1.8rem;
		color: #f93b1d;
		margin-bottom: 1.5rem;

		&-text {
			font-size: 1.6rem;
			color: #000;
			// max-width: 43rem;
		}
	}

	.pre-image {
		width: 24rem;
		height: 24rem;
		border-radius: 50%;
		float: right;
	}

	.experience__wrapper {
		margin-top: 2.4rem;
		border-top: 1px solid #c8c8c8;
		padding-top: 2.4rem;

		.pre-experience-title {
			font-size: 1.8rem;
			color: #f93b1d;
		}
		.pre-experience {
			&-group {
				margin-top: 1.5rem;

				border-bottom: 1px solid #c8c8c8;
				padding-bottom: 2.4rem;

				&__initials {
					display: flex;
					gap: 0.7rem;
					font-size: 1.6rem;
					color: #1a1a1a;
					margin-bottom: 0.7rem;
				}

				&__dates {
					display: flex;
					gap: 0.7rem;
					font-size: 1.6rem;
					color: #919191;
					margin-bottom: 1.6rem;
				}

				&__description {
					font-size: 1.6rem;
					color: #000000;
				}
			}
		}
	}
}

// SECOND PAGE

.form-group {
	padding-bottom: 5rem;
	margin-bottom: 9em;
	border-bottom: 1px solid #c1c1c1;
}
.dates-container {
	width: 100%;

	&.flex-row {
		gap: 5.6rem;
	}
}

.dates-container {
	.flex-column {
		width: 50%;
	}
}

.date-input:hover,
.date-input:focus {
	box-shadow: inset 0 0 0 1px #bcbcbc;
	color: #000000;
}

.work-description {
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	/*remove the resize handle on the bottom right*/
	resize: none;
	height: 12.3rem;
}

.add-more {
	outline: none;
	border: none;
	background: #62a1eb;
	border-radius: 4px;

	padding: 1.4rem 2.1rem;

	font-size: 1.6rem;
	color: #fff;

	cursor: pointer;
}

.buttons_wrapper {
	margin-top: 11.1rem;
	display: flex;
	justify-content: space-between;
}

.dates-container {
	.input-container.successful::after {
		display: none;
	}
}

.input-container.successful {
	textarea {
		border: 1px solid #98e37e;
	}
}

.input-container.danger {
	textarea {
		border: 1px solid #ef5050;
	}
}

// THIRD PAGE

.education-wrapper {
	gap: 3rem;
}

.education-description {
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	/*remove the resize handle on the bottom right*/
	resize: none;
	height: 18.4rem;
}

// Select
select {
	// A reset of styles, including removing the default dropdown arrow
	appearance: none;
	// Additional resets for further consistency
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}

select::-ms-expand {
	display: none;
}

.select {
	width: 100%;
	border: 1px solid #bcbcbc;
	border-radius: 4px;
	padding: 1.5rem 1.62rem;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	background-color: #fff;
}

.select::after {
	content: url("./../images/select-arrow.png");
	position: absolute;
	right: 15px;
	width: 1.8rem;
	height: 1.8rem;
}

.select.successful {
	border: none;
	box-shadow: inset 0 0 0 1px #98e37e;
}

.select.danger {
	border: none;
	box-shadow: inset 0 0 0 1px #ef5050;
}

.educations__wrapper {
	margin-top: 2.6rem;

	.educations__title {
		font-size: 1.8rem;
		color: #f93b1d;
		font-weight: 700;
	}
}

.pre-education-group {
	margin-top: 1.6rem;
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 3.2rem;
}

.pre-education-group {
	&-title {
		font-size: 1.6rem;
		color: #1a1a1a;
		margin-bottom: 0.7rem;
	}

	&-degree {
		font-size: 1.6rem;
		color: #1a1a1a;
	}

	&-date {
		font-size: 1.6rem;
		color: #919191;
		margin-bottom: 1.6rem;
	}

	&-description {
		font-size: 1.6rem;
		color: #000000;
	}
}

.gap-08 {
	gap: 0.8rem;
}

// RESUME PAGE
.resume {
	// position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 5rem 0;

	&__wrapper {
		padding: 6.8rem 8rem;

		border: 0.8px solid #000000;
		width: 82.2rem;
	}
}

.pre-fullname {
	& > h3 {
		font-size: 3.4rem;
		color: #f93b1d;
	}

	margin-bottom: 2rem;
	gap: 2rem;
}

.full-email {
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;

	p {
		font-size: 1.8rem;
		color: #1a1a1a;
	}
}

.full-phone {
	align-items: center;
	gap: 1rem;
	margin-bottom: 3.4rem;

	p {
		font-size: 1.8rem;
		color: #1a1a1a;
	}
}

.pre-about {
	font-size: 1.8rem;
	color: #f93b1d;
	margin-bottom: 1.5rem;

	&-text {
		font-size: 1.6rem;
		color: #000;
		max-width: 43rem;
	}
}

.pre-image {
	width: 24rem;
	height: 24rem;
	border-radius: 50%;
	margin-top: -10px;
	margin-right: -40px;
	float: right;
}

.experience__wrapper {
	margin-top: 2.4rem;
	border-top: 1px solid #c8c8c8;
	padding-top: 2.4rem;

	.pre-experience-title {
		font-size: 1.8rem;
		color: #f93b1d;
	}
	.pre-experience {
		&-group {
			margin-top: 1.5rem;

			border-bottom: 1px solid #c8c8c8;
			padding-bottom: 2.4rem;

			&__initials {
				display: flex;
				gap: 0.7rem;
				font-size: 1.6rem;
				color: #1a1a1a;
				margin-bottom: 0.7rem;
			}

			&__dates {
				display: flex;
				gap: 0.7rem;
				font-size: 1.6rem;
				color: #919191;
				margin-bottom: 1.6rem;
			}

			&__description {
				font-size: 1.6rem;
				color: #000000;
			}
		}
	}
}

// Modal styling

.modal {
	position: absolute;
	top: 5rem;
	right: 5rem;

	padding: 3rem;
	max-width: 42rem;
	border: 1px solid #e4e4e4;
	box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	p {
		font-size: 2.8rem;
		color: #1a1a1a;
	}

	img {
		position: absolute;
		right: 1.2rem;
		top: 1.6rem;
		cursor: pointer;
	}
}

#back-arrow {
	cursor: pointer;
}
